$color-gray-00: var(--color-gray-00);
$color-gray-01: var(--color-gray-01);
$color-gray-02: var(--color-gray-02);
$color-gray-03: var(--color-gray-03);
$color-gray-04: var(--color-gray-04);
$color-gray-05: var(--color-gray-05);
$color-gray-06: var(--color-gray-06);
$color-gray-07: var(--color-gray-07);
$color-gray-08: var(--color-gray-08);
$color-gray-09: var(--color-gray-09);

$color-green-00: var(--color-green-00);
$color-green-01: var(--color-green-01);
$color-green-02: var(--color-green-02);
$color-green-03: var(--color-green-03);
$color-green-04: var(--color-green-04);
$color-green-05: var(--color-green-05);
$color-green-06: var(--color-green-06);

$color-blue-00: var(--color-blue-00);
$color-blue-01: var(--color-blue-01);
$color-blue-02: var(--color-blue-02);
$color-blue-03: var(--color-blue-03);

$color-base-00: var(--color-base-00);
$color-base-01: var(--color-base-01);
$color-base-02: var(--color-base-02);
$color-base-03: var(--color-base-03);
$color-base-04: var(--color-base-04);

$color-orange-00: var(--color-orange-00);
$color-orange-01: var(--color-orange-01);
$color-orange-02: var(--color-orange-02);
$color-orange-03: var(--color-orange-03);
$color-orange-04: var(--color-orange-04);

$color-yellow-00: var(--color-yellow-00);
$color-yellow-01: var(--color-yellow-01);
$color-yellow-02: var(--color-yellow-02);
$color-yellow-03: var(--color-yellow-03);

$color-red-00: var(--color-red-00);
$color-red-01: var(--color-red-01);
$color-red-02: var(--color-red-02);
$color-red-03: var(--color-red-03);

$color-purple-00: var(--color-purple-00);

$color-white-alpha: var(--color-white-alpha);
$color-dark-alpha: var(--color-dark-alpha);
$color-transparent: var(--color-transparent);
